@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? familia=Nunito:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,600;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");
.grid-categorie div {
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.788) 100%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  background-color: #f8f8f8; }

.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2; }
  .header .navbar {
    padding: 0;
    margin: 0; }
    .header .navbar .navbar-one {
      background-color: #393939;
      width: 100%;
      padding: 0 1em; }
      .header .navbar .navbar-one__logo {
        width: 15vw; }
      .header .navbar .navbar-one__form {
        width: 55vw;
        text-align: center;
        position: relative; }
        .header .navbar .navbar-one__form input {
          border-radius: 1em;
          width: 100%;
          outline: none;
          margin: 0;
          background-color: #ebebeb;
          border: 1px solid #4C4C4C; }
          .header .navbar .navbar-one__form input:focus {
            background-color: #ebebeb;
            border: 2px solid #4C4C4C;
            box-shadow: none; }
        .header .navbar .navbar-one__form .search-icon {
          position: absolute;
          top: 20%;
          left: 94%; }
      .header .navbar .navbar-one__icon {
        width: 15vw;
        text-align: end;
        padding-right: 1em; }
        .header .navbar .navbar-one__icon i {
          color: #ffffff;
          padding: 0 0.6em;
          font-size: 1.2em; }
    .header .navbar .navbar-two {
      width: 100%;
      padding: 0; }
      .header .navbar .navbar-two .navbar-collapse {
        justify-content: center;
        background-color: #393939; }
      .header .navbar .navbar-two__item .nav-link {
        color: #ffffff;
        padding: 0;
        margin: 8px;
        position: relative;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif; }
        .header .navbar .navbar-two__item .nav-link::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #ffffff;
          transform: scaleX(0);
          transform-origin: bottom left;
          transition: 0.6s ease-out; }
        .header .navbar .navbar-two__item .nav-link:hover::after {
          transform: scaleX(1);
          transform: bottom left; }
      .header .navbar .navbar-two__item .active {
        font-weight: 700; }
      .header .navbar .navbar-two__dropdown:hover .dropdown-menu {
        display: inline; }
      .header .navbar .navbar-two__dropdown .dropdown-menu {
        margin: 0;
        border-radius: 0;
        border: none; }
        .header .navbar .navbar-two__dropdown .dropdown-menu .dropdown-item {
          transition: 0.3s;
          width: 70%; }
          .header .navbar .navbar-two__dropdown .dropdown-menu .dropdown-item:hover {
            background-color: #ffffff;
            color: #ff9900;
            transform: translate(5px, 0); }

/* Estrategia Mobile Last */
@media (max-width: 992px) {
  /* Tamaño mediano */
  .header .navbar .navbar-one form {
    width: 50vw; }
  .header .navbar .navbar-one .icon-nav {
    width: 20vw; }
    .header .navbar .navbar-one .icon-nav i {
      padding: 0 0.4em;
      font-size: 1.2em; }
  .header .navbar .navbar-one .search-icon {
    left: 92%; }
  .header .navbar .navbar-two {
    background-color: #393939; }
    .header .navbar .navbar-two .navbar-toggler {
      border: white;
      color: #ffffff; }
      .header .navbar .navbar-two .navbar-toggler:focus {
        box-shadow: none; } }

@media (max-width: 768px) {
  /* Tamaño Mediano: Tablet */
  .header .navbar .navbar-one a {
    width: 20vw;
    font-size: 2.2rem; }
  .header .navbar .navbar-one form {
    width: 45vw; }
  .header .navbar .navbar-one .icon-nav {
    width: 25vw; } }

@media (max-width: 575px) {
  /* Tamaño Chico */
  .header .navbar .navbar-one {
    padding: 0 0.4em; }
    .header .navbar .navbar-one a {
      width: 20vw;
      font-size: 2rem; }
    .header .navbar .navbar-one form {
      width: 38vw; }
    .header .navbar .navbar-one .icon-nav {
      width: 27vw; }
      .header .navbar .navbar-one .icon-nav i {
        padding: 0 0.4em;
        font-size: 1em; } }

@media (max-width: 424px) {
  /* Tamaño Extra Chico */
  .header .navbar .navbar-one a {
    width: 15vw;
    font-size: 1.5rem; }
  .header .navbar .navbar-one .icon-nav {
    width: 30vw; } }

/* Banner */
.banner-bg {
  width: 100%; }

.banner-sm {
  display: none; }

/* Categorias */
.grid-categorie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 3em;
  grid-template-areas: "categorie-mujer categorie-hombre categorie-accesorios";
  list-style: none;
  padding: 0%;
  margin: 3em; }
  .grid-categorie .categorie-mujer {
    grid-area: categorie-mujer;
    position: relative; }
  .grid-categorie .categorie-hombre {
    grid-area: categorie-hombre;
    position: relative; }
  .grid-categorie .categorie-accesorios {
    grid-area: categorie-accesorios;
    position: relative; }
  .grid-categorie img {
    width: 100%;
    border-radius: 5px; }
  .grid-categorie div {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s; }
    .grid-categorie div:hover {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.788) 100%); }
  .grid-categorie h2 {
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.5s; }
    .grid-categorie h2:hover {
      transform: translate(0, -40%) scale(1.2); }
  .grid-categorie a {
    color: white;
    font-size: 1.5em; }

/* Tendencias */
.trends .trends-title {
  margin: 2em 0 1em 0; }
  .trends .trends-title h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600; }

.trends .card {
  width: 14rem;
  margin: 1rem 0.5rem;
  padding: 0.3em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.4s; }
  .trends .card:hover {
    overflow: visible;
    padding-bottom: 3.2rem;
    z-index: 1;
    box-shadow: 0px 3px 16px #00000036; }
  .trends .card .card-body {
    text-align: start;
    padding-bottom: 0; }
    .trends .card .card-body a {
      background-color: #999d9e;
      border: none;
      text-transform: uppercase;
      margin-top: 0.3rem;
      width: 80%;
      display: flex;
      justify-content: center;
      position: absolute; }
      .trends .card .card-body a:hover {
        background-color: black;
        transform: scale(1.1); }
      .trends .card .card-body a:focus {
        background-color: black;
        box-shadow: none; }
    .trends .card .card-body h5 {
      font-weight: 200;
      height: 3rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .trends .card .card-body p {
      font-weight: 600;
      display: flex;
      align-items: baseline; }
  .trends .card .card-img-top {
    padding: 1rem 0; }

/* Formulario */
.form {
  width: 60vw;
  margin: 2rem auto;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); }
  .form h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600; }
  .form p {
    font-weight: 200; }
  .form .input-email {
    border-radius: 20px; }
    .form .input-email:focus {
      box-shadow: none;
      border: 1px solid #474747; }
  .form .button-susbribe button {
    background-color: white;
    color: black;
    border: white;
    border-radius: 20px;
    margin-bottom: 1rem; }
    .form .button-susbribe button:hover {
      background-color: white;
      color: black;
      border: 1px solid #474747; }

@media (max-width: 768px) {
  /* Tamaño Mediano: Tablet */
  .banner-bg {
    display: none; }
  .banner-sm {
    display: inline;
    width: 100%; }
  .grid-categorie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.8em;
    grid-template-areas: "categorie-mujer categorie-hombre" "categorie-accesorios categorie-accesorios"; }
    .grid-categorie h2 {
      font-size: 2.5rem; } }

@media (max-width: 575px) {
  /* Tamaño Chico */
  .grid-categorie h2 {
    font-size: 2rem; }
  .trends .card {
    width: 11.5rem; }
  .form {
    width: 80vw; } }

@media (max-width: 424px) {
  /* Tamaño Extra Chico */
  .grid-categorie {
    gap: 0.5rem; }
    .grid-categorie h2 {
      font-size: 1.7rem; }
  .trends .card {
    width: 10.2rem; }
  .form {
    width: 90vw; } }

.footer {
  max-width: 100vw;
  background-color: #cccbcb;
  padding: 2rem;
  margin-top: 3rem; }
  .footer .footer-boxs {
    justify-content: center; }
    .footer .footer-boxs .footer-title {
      font-size: 1.2rem;
      font-weight: 600;
      padding-left: 1.7rem; }
    .footer .footer-boxs div {
      width: 30vw; }
    .footer .footer-boxs ul {
      list-style: none; }
    .footer .footer-boxs a {
      color: #363636;
      text-decoration: none; }
      .footer .footer-boxs a:hover {
        text-decoration: underline; }

@media (max-width: 575px) {
  /* Tamaño Chico */
  .footer .footer-boxs div {
    width: 45vw; } }

.contact {
  width: auto;
  margin: 2rem; }

.form-contact {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  width: auto;
  margin: 0 2rem; }
  .form-contact h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600; }
  .form-contact p {
    font-weight: 200; }
  .form-contact input {
    border-radius: 20px; }
    .form-contact input:focus {
      box-shadow: none;
      border: 1px solid #474747; }
  .form-contact button {
    background-color: white;
    color: black;
    border: white;
    border-radius: 20px;
    margin-bottom: 1rem; }

@media (max-width: 575px) {
  /* Tamaño Chico */
  .contact {
    width: auto; }
  .form-contact {
    width: auto; } }

.grid-page-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "aside products products products" "aside products products products" "aside products products products"; }

.aside {
  grid-area: aside;
  height: auto;
  position: relative; }
  .aside .filter {
    display: none; }
    .aside .filter__btn {
      width: 100%;
      background-color: #f8f8f8;
      box-shadow: none;
      color: #4C4C4C;
      border: none;
      border-bottom: solid 1px #4C4C4C;
      border-radius: 0px; }
      .aside .filter__btn:focus {
        box-shadow: none; }
    .aside .filter__ul {
      width: 100%; }
      .aside .filter__ul h5 {
        padding-left: 1rem; }
      .aside .filter__ul li {
        background-color: #ebebeb; }
  .aside form {
    padding: 2rem;
    margin: 1rem;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    border-radius: 5px; }
    .aside form h3 {
      font-size: 1.5rem; }

.products {
  grid-area: products;
  margin-top: 2rem; }
  .products .container-flex {
    display: flex;
    flex-wrap: wrap; }
  .products .products-title {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); }
  .products .card {
    width: 14rem;
    margin: 1rem 0.5rem;
    padding: 0.3em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: 0.4s; }
    .products .card:hover {
      overflow: visible;
      padding-bottom: 3.2rem;
      z-index: 1;
      box-shadow: 0px 3px 16px #00000036; }
    .products .card .card-body {
      text-align: start;
      padding-bottom: 0; }
      .products .card .card-body a {
        background-color: #999d9e;
        border: none;
        text-transform: uppercase;
        margin-top: 0.3rem;
        width: 80%;
        display: flex;
        justify-content: center;
        position: absolute; }
        .products .card .card-body a:hover {
          background-color: black;
          transform: scale(1.1); }
        .products .card .card-body a:focus {
          background-color: black;
          box-shadow: none; }
      .products .card .card-body h5 {
        font-weight: 200;
        height: 3rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
      .products .card .card-body p {
        font-weight: 600;
        display: flex;
        align-items: baseline; }
    .products .card .card-img-top {
      padding: 1rem 0; }

@media (max-width: 768px) {
  .grid-page-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh 1fr 1fr;
    grid-template-areas: "aside aside aside" "products products products" "products products products";
    margin: 1rem; }
  .aside .filter {
    display: inline; }
  .aside form {
    display: none; } }

@media (max-width: 575px) {
  .products .card {
    width: 11.5rem; } }

@media (max-width: 424px) {
  .products .card {
    width: 10.2rem; } }
