@import './variables/typo';
@import './variables/colors';
@import './variables/extend';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $typo-principal;
}

body{
    background-color: $light-gray;
}



@import './secciones/header';
@import './secciones/main-index';
@import './secciones/footer';
@import './secciones/pag-contacto';
@import './secciones/pag-productos';