.footer {
  max-width: 100vw;
  background-color: rgb(204, 203, 203);
  padding: 2rem;
  margin-top: 3rem;
  .footer-boxs {
    justify-content: center;
    .footer-title {
      font-size: 1.2rem;
      font-weight: 600;
      padding-left: 1.7rem;
    }
    div {
      width: 30vw;
    }
    ul {
      list-style: none;
    }

    a {
      color: rgb(54, 54, 54);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 575px) {
  /* Tamaño Chico */

  .footer-boxs {
    div {
      width: 45vw;
    }
  }
}
